.loading-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 300px;
    width: 100%;
  }
  
  .spinner {
    border: 6px solid #f3f3f3;
    border-top: 6px solid rgb(199, 37, 159);
    border-radius: 50%;
    width: 40px;
    height: 40px;
    animation: rotate 1s linear infinite;
    margin-bottom: 15px;
  }
  
  @keyframes rotate {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  
  .loading-text {
    font-size: 1rem;
    color: #555;
  }